# UI
streamlit>=1.25

# Speech-to-Text
SpeechRecognition
assemblyai

# LLMs
google-generativeai

# PDF handling
PyMuPDF

# Hugging Face (image generation)
huggingface_hub

# Audio processing
pydub

# Utility libraries
gdown
numpy
requests
python-dotenv
